.form-wrapper {
  width: 100%;
  max-width: 400px; 
  box-sizing: border-box;
}

/* Contenedor principal */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: #ffffff;
  padding: 0.2rem;
}

/* Logo circular */
.auth-logo {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

/* Formulario */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 1.8rem;
}

/* Campos de entrada */
.input-field {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ececec;
  border-radius: 8px;
  font-size: 1.2rem;
  box-sizing: border-box;
}
.input-field:hover {
  border: 1px solid #afadad;
}

/* Botón principal */
.auth-button {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  background-color: #4285f4;
  color: white;
  cursor: pointer;
}

/* Enlace sesión */
.auth-link {
  text-align: right;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.auth-link:hover {
  color: #175ecf;
}

.auth-link-olv {
  text-align: right;
  font-weight: bold;
  color: #ff0202;
  text-decoration: none;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.auth-link-olv:hover {
  color: #8f0505;
}

.opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Botones sociales */
.social-login {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 2rem;
  width: 100%;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem; /* separa ícono y texto */
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
}

.social-icon svg {
  width: 20px;
  height: 20px;
}

.social-button.apple {
  background-color: #ffffff;
  color: #000000;
  margin-top: 1.2rem;
  border: 1px solid #ececec;
}

.social-button.google {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ececec;
}

/* Mensajes */
.auth-error {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.auth-success {
  color: green;
  text-align: center;
  margin-top: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .auth-container {
    padding: 0.2rem;
  }
  
  .auth-logo {
    width: 160px;
    height: 160px;
    margin-bottom: 1rem;
  }

  .input-field {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .auth-button,
  .social-button{
    font-size: 0.9rem;
  }

  .opciones{
    font-size: 0.8rem;
  }

  .auth-link-olv{
    font-size: 0.8rem;
  }

  .auth-link{
    font-size: 0.9rem;
  }

}


